<div>
    <div th:fragment="single (comment, last)" th:remove="tag">
        <li>
            <div class="singleComment">
                <div class="top">
                    <span class="name" th:text="${ comment.name }">
                        Username</span>
                    <time class="time" th:text="${ comment.time }"></time>
                </div>
                <p class="text" th:text="${ comment.text }">test</p>
                <div class="bottom">
                    <!--/* Setting the parent attr to id so its becomes a child element */-->
                    <button class="respond"
                        th:if="${ last }"
                        th:attr="data-parent=${ comment._id }">reply</button>
                </div>
            </div>
        </li>
    </div>
</div>