<section id="discussion" th:if="${ render }">
    <a href="#toplevelform">Post new comment</a>
    <div class="comments" th:replace="/site/parts/comment-field/comment-tree::nestedComment (${ discussion })"
        th:remove="tag"></div>
    <form class="startDiscussion" id="toplevelform">
        <input type="hidden" name="parent" />
        <label>
            <h3>New comment</h3>
            <textarea name="comment"></textarea>
        </label>
        <input class="formSub" type="submit" value="Post comment" />
    </form>
</section>